<?xml version="1.0" encoding="UTF-8"?>

<!-- 配置文件修改时重新加载，默认true -->
<configuration scan="true">
    <!-- 日志存放路径 -->
    <property name="log.path" value="logs" />
    <property name="filePattern" value="[%d{HH:mm:ss}] [%t/%level]: [%logger] %msg%n" />
    <property name="infoPattern" value="[%d{HH:mm:ss}] [%t/%level]: [%logger] %msg%n" />
    <property name="warnPattern" value="%boldYellow([%d{HH:mm:ss}] [%t/%level]: [%logger] %msg%n)" />
    <property name="errorPattern" value="%boldRed([%d{HH:mm:ss}] [%t/%level]: [%logger] %msg%n)" />
    <!-- 控制台输出INFO -->
    <appender name="CONSOLE_INFO" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <!-- 输出日志记录格式 -->
            <pattern>${infoPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 过滤的级别 -->
            <level>INFO</level>
            <!-- 匹配时的操作：接收（记录） -->
            <onMatch>ACCEPT</onMatch>
            <!-- 不匹配时的操作：拒绝（不记录） -->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- 控制台输出WARN -->
    <appender name="CONSOLE_WARN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <!-- 输出日志记录格式 -->
            <pattern>${warnPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 过滤的级别 -->
            <level>WARN</level>
            <!-- 匹配时的操作：接收（记录） -->
            <onMatch>ACCEPT</onMatch>
            <!-- 不匹配时的操作：拒绝（不记录） -->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- 控制台输出ERROR -->
    <appender name="CONSOLE_ERROR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <!-- 输出日志记录格式 -->
            <pattern>${errorPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 过滤的级别 -->
            <level>ERROR</level>
            <!-- 匹配时的操作：接收（记录） -->
            <onMatch>ACCEPT</onMatch>
            <!-- 不匹配时的操作：拒绝（不记录） -->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="CUSTOM" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/latest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${log.path}/%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder charset="GBK">
            <pattern>${filePattern}</pattern>
        </encoder>
    </appender>

    <!-- 设置日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE_INFO" />
        <appender-ref ref="CONSOLE_WARN" />
        <appender-ref ref="CONSOLE_ERROR" />
    </root>
    <root level="DEBUG">
        <appender-ref ref="CUSTOM" />
    </root>
</configuration>